
#include "w11menu.rh"
#include "w11dlgap.rh"
#include <owl\window.rh>

MENU_CLUB MENU
{
 POPUP ""
 {
  MENUITEM "Print", CM_FILEPRINT
  MENUITEM "Print Setup", CM_FILEPRINT_SETUP
  MENUITEM "Password", CM_FILEPASSWORD
  MENUITEM SEPARATOR
  MENUITEM "Date", CM_FILEDATE, CHECKED
  MENUITEM "Time", CM_FILETIME, CHECKED
  MENUITEM SEPARATOR
  MENUITEM "&Calculator", CM_CALCULATOR
  MENUITEM SEPARATOR
  MENUITEM "Exit", CM_EXIT
 }

 POPUP ""
 {
  MENUITEM "Bank Register", CM_BANKREGISTER
  MENUITEM "Read Statistic", CM_BANKREAD_STATISTIC
  MENUITEM "Print Statistic", CM_BANKPRINT_STATISTIC
 }

 POPUP ""
 {
  MENUITEM "Departament Register", CM_DEPARTAMENTREGISTER
  MENUITEM "Read Statistic", CM_DEPARTAMENTREAD_STATISTIC
  MENUITEM "Print Statistic", CM_DEPARTAMENTPRINT_STATISTIC
 }

 POPUP ""
 {
  MENUITEM "Till Register", CM_TILLREGISTER
  MENUITEM "Open Till...", CM_TILLOPEN_TILL
  MENUITEM "Read Statistic", CM_READ_STATISTIC
  MENUITEM "Print Statistic", CM_TILLPRINT_STATISTIC
  MENUITEM "New Member", CM_TILLNEW_MEMBER
  MENUITEM "Deposit", CM_TILLDEPOSIT_WITHDRAWAL
  POPUP "&Settlement"
  {
	MENUITEM "Read Transaction", CM_SETTLEMENTREAD_TRANSACTION
	MENUITEM "Print Transaction", CM_SETTLEMENTPRINT_TRANSACTION
  }

 }

 POPUP ""
 {
  MENUITEM "Read Statistic", CM_CLUBREAD_STATISTIC
  MENUITEM "Print Statistic", CM_CLUBPRINT_STATISTIC
 }

 POPUP ""
 {
  MENUITEM "Read Account", CM_MEMBERREAD_ACCOUNT
  MENUITEM "Print Account", CM_MEMBERPRINT_ACCOUNT
  MENUITEM "Withdrawal", CM_MEMBERWITHDRAWAL
 }

 POPUP ""
 {
  MENUITEM "Read Statistic", CM_FUTURA_ACCOUNTREAD_STATISTIC
  MENUITEM "Print Statistic", CM_FUTURA_ACCOUNTPRINT_STATISTIC
 }

 POPUP ""
 {
  MENUITEM "Start Register", CM_START_REGISTER
 }

 POPUP "HELP"
 {
  MENUITEM "&Index\tF1", CM_HELPINDEX
  MENUITEM "&Keyboard", -1, GRAYED
  MENUITEM "&Commands", -1, GRAYED
  MENUITEM "&Procedures", -1, GRAYED
  MENUITEM "&Using help", CM_HELPUSING_HELP
  MENUITEM SEPARATOR
  MENUITEM "&About...", CM_HELPABOUT
 }

}

MENU_BANK MENU
{
 POPUP ""
 {
  MENUITEM "Print", CM_FILEPRINT
  MENUITEM "Print Setup", CM_FILEPRINT_SETUP
  MENUITEM "Password", CM_FILEPASSWORD
  MENUITEM SEPARATOR
  MENUITEM "Date", CM_FILEDATE, CHECKED
  MENUITEM "Time", CM_FILETIME, CHECKED
  MENUITEM SEPARATOR
  MENUITEM "&Calculator", CM_CALCULATOR
  MENUITEM SEPARATOR
  MENUITEM "Exit", CM_EXIT
 }

 POPUP ""
 {
  MENUITEM "Bank Register", CM_BANKREGISTER
  MENUITEM "Read Statistic", CM_BANKREAD_STATISTIC
  MENUITEM "Print Statistic", CM_BANKPRINT_STATISTIC
 }

 POPUP ""
 {
  MENUITEM "Departament Register", CM_DEPARTAMENTREGISTER
  MENUITEM "Read Statistic", CM_DEPARTAMENTREAD_STATISTIC
  MENUITEM "Print Statistic", CM_DEPARTAMENTPRINT_STATISTIC
 }

 POPUP ""
 {
  MENUITEM "Till Register", CM_TILLREGISTER
  MENUITEM "Open Till...", CM_TILLOPEN_TILL
  MENUITEM "Read Statistic", CM_TILLREAD_STATISTIC
  MENUITEM "Print Statistic", CM_TILLPRINT_STATISTIC
  MENUITEM "New Member", CM_TILLNEW_MEMBER
  MENUITEM "Deposit", CM_TILLDEPOSIT_WITHDRAWAL
  POPUP "&Settlement"
  {
	MENUITEM "Read Transaction", CM_SETTLEMENTREAD_TRANSACTION
	MENUITEM "Print Transaction", CM_SETTLEMENTPRINT_TRANSACTION
  }

 }

 POPUP ""
 {
  MENUITEM "Read Account", CM_MEMBERREAD_ACCOUNT
  MENUITEM "Print Account", CM_MEMBERPRINT_ACCOUNT
  MENUITEM "Withdrawal", CM_MEMBERWITHDRAWAL
 }

 POPUP "HELP"
 {
  MENUITEM "&Index\tF1", CM_HELPINDEX
  MENUITEM "&Keyboard", -1, GRAYED
  MENUITEM "&Commands", -1, GRAYED
  MENUITEM "&Procedures", -1, GRAYED
  MENUITEM "&Using help", CM_HELPUSING_HELP
  MENUITEM SEPARATOR
  MENUITEM "&About...", CM_HELPABOUT
 }

}

MENU_DEP MENU
{
 POPUP ""
 {
  MENUITEM "Print", CM_FILEPRINT
  MENUITEM "Print Setup", CM_FILEPRINT_SETUP
  MENUITEM "Password", CM_FILEPASSWORD
  MENUITEM SEPARATOR
  MENUITEM "Date", CM_FILEDATE, CHECKED
  MENUITEM "Time", CM_FILETIME, CHECKED
  MENUITEM SEPARATOR
  MENUITEM "&Calculator", CM_CALCULATOR
  MENUITEM SEPARATOR
  MENUITEM "Exit", CM_EXIT
 }

 POPUP ""
 {
  MENUITEM "Departament Register", CM_DEPARTAMENTREGISTER
  MENUITEM "Read Statistic", CM_DEPARTAMENTREAD_STATISTIC
  MENUITEM "Print Statistic", CM_DEPARTAMENTPRINT_STATISTIC
 }

 POPUP ""
 {
  MENUITEM "Till Register", CM_TILLREGISTER
  MENUITEM "Open Till", CM_TILLOPEN_TILL
  MENUITEM "Read Statistic", CM_TILLREAD_STATISTIC
  MENUITEM "Print Statistic", CM_TILLPRINT_STATISTIC
  MENUITEM "New Member", CM_TILLNEW_MEMBER
  MENUITEM "Deposit", CM_TILLDEPOSIT_WITHDRAWAL
  POPUP "&Settlement"
  {
	MENUITEM "Read Transaction", CM_SETTLEMENTREAD_TRANSACTION
	MENUITEM "Print Transaction", CM_SETTLEMENTPRINT_TRANSACTION
  }

 }

 POPUP ""
 {
  MENUITEM "Read Account", CM_MEMBERREAD_ACCOUNT
  MENUITEM "Print Account", CM_MEMBERPRINT_ACCOUNT
  MENUITEM "Withdrawal", CM_MEMBERWITHDRAWAL
 }

 POPUP "HELP"
 {
  MENUITEM "&Index\tF1", CM_HELPINDEX
  MENUITEM "&Keyboard", -1, GRAYED
  MENUITEM "&Commands", -1, GRAYED
  MENUITEM "&Procedures", -1, GRAYED
  MENUITEM "&Using help", CM_HELPUSING_HELP
  MENUITEM SEPARATOR
  MENUITEM "&About...", CM_HELPABOUT
 }

}

MENU_TILL MENU
{
 POPUP ""
 {
  MENUITEM "Print", CM_FILEPRINT
  MENUITEM "Print Setup", CM_FILEPRINT_SETUP
  MENUITEM "Password", CM_FILEPASSWORD
  MENUITEM SEPARATOR
  MENUITEM "Date", CM_FILEDATE, CHECKED
  MENUITEM "Time", CM_FILETIME, CHECKED
  MENUITEM SEPARATOR
  MENUITEM "&Calculator", CM_CALCULATOR
  MENUITEM SEPARATOR
  MENUITEM "Exit", CM_EXIT
 }

 POPUP ""
 {
  MENUITEM "Till Register", CM_TILLREGISTER
  MENUITEM "Open Till", CM_TILLOPEN_TILL
  MENUITEM "Read Statistic", CM_TILLREAD_STATISTIC
  MENUITEM "Print Statistic", CM_TILLPRINT_STATISTIC
  MENUITEM "New Member", CM_TILLNEW_MEMBER
  MENUITEM "Deposit", CM_TILLDEPOSIT_WITHDRAWAL
  POPUP "&Settlement"
  {
	MENUITEM "Read Transaction", CM_SETTLEMENTREAD_TRANSACTION
	MENUITEM "Print Transaction", CM_SETTLEMENTPRINT_TRANSACTION
  }

 }

 POPUP ""
 {
  MENUITEM "Read Account", CM_MEMBERREAD_ACCOUNT
  MENUITEM "Print Account", CM_MEMBERPRINT_ACCOUNT
  MENUITEM "Withdrawal", CM_MEMBERWITHDRAWAL
 }

 POPUP "HELP"
 {
  MENUITEM "&Index\tF1", CM_HELPINDEX
  MENUITEM "&Keyboard", -1, GRAYED
  MENUITEM "&Commands", -1, GRAYED
  MENUITEM "&Procedures", -1, GRAYED
  MENUITEM "&Using help", CM_HELPUSING_HELP
  MENUITEM SEPARATOR
  MENUITEM "&About...", CM_HELPABOUT
 }

}

MENU_CLUB ACCELERATORS 
{
 "X", CM_EXIT, ASCII, ALT
 "x", CM_EXIT, ASCII, ALT
 VK_F1, -1, VIRTKEY
}


MENU_START MENU 
{
 POPUP "&Start"
 {
  MENUITEM "&New Password", CM_STARTNEW_PASSWORD
  MENUITEM SEPARATOR
  MENUITEM "&Open Till", CM_TILLOPEN_TILL
  MENUITEM SEPARATOR
  MENUITEM "Print", CM_FILEPRINT
  MENUITEM "Print Setup", CM_FILEPRINT_SETUP
  MENUITEM SEPARATOR
  MENUITEM "Date", CM_FILEDATE, CHECKED
  MENUITEM "Time", CM_FILETIME, CHECKED
  MENUITEM SEPARATOR
  MENUITEM "&Calculator", CM_CALCULATOR
  MENUITEM SEPARATOR
  MENUITEM "Exit", CM_EXIT
 }

 POPUP "HELP"
 {
  MENUITEM "&Index\tF1", CM_HELPINDEX
  MENUITEM "&Keyboard", -1, GRAYED
  MENUITEM "&Commands", -1, GRAYED
  MENUITEM "&Procedures", -1, GRAYED
  MENUITEM "&Using help", CM_HELPUSING_HELP
  MENUITEM SEPARATOR
  MENUITEM "&About...", CM_HELPABOUT
 }

}

